/*solids*/
$black:#000;
$white:#fff;
$azul:#4C80C2;
$base:$azul;

$text:$base;
$base_extra_light:#F15A29;
$base_dark:$text;
$base_light:#F15A29;
$grey:$azul;

$fished: $base_light;
$cancelled:rgb(250, 61, 61);
$in_progress:rgb(18, 169, 18);
$pending:#21aede;
/*GRADIENTES*/
$gradient_w_g: linear-gradient(to bottom, $white 0%,darken($white,20) 80%);
$gradient_w_g_reverse: linear-gradient(to bottom, darken($white,20) 0%,$white 80%);
$base_to_white: linear-gradient(135deg, $black 0%,$base_dark 70%);
$btn_gradient: linear-gradient(to bottom, $base_extra_light 0%,darken($base_extra_light,30) 70%);
$btn_gradient_reverse: linear-gradient(to bottom, darken($base_extra_light,30) 0%, $base_extra_light 70%);
