body {
  margin: 0;
  background: $grey;
  font-family: 'Roboto', sans-serif;
}

//backgrounds
.bg_base {
  background-color: $base;
}

.bg_grey {
  background: $grey;
}

.bg_base_dark {
  background: $azul;
}

.bg_light {
  background: $base_light;
}

.bg_azul {
  background: $azul;
}

.bg_base_extra_light {
  background: $base_extra_light;
}

.bg_gradient_light {
  background: $gradient_w_g;
}

.shadow_spans {
  box-shadow: 0 0 5px $black;
}

.rounded_span {
  border-radius: 15px;
  overflow: hidden;
}

.loader {
  width: 100%;
  height: 100vh;
  background-image: url('../img/loader.webp');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center;
}

.border_top {
  border-top: 3px groove $base;
}

.border_right {
  border-right: 1px groove lighten($black, 98);
}

.bb1px {
  border-bottom: 1px solid rgba($grey, .80);
}

.bb2px {
  border-bottom: 2px solid rgba($grey, .80);
}

.chart {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .chart {
    width: 55%;
    margin: auto;
  }
}

.modal-content {
  z-index: 1236;
}

.modal-backdrop {
  display: none;
}

.error {
  background-image: url('../img/404.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.shadow_orange {
  box-shadow: 0 0 15px $base_dark;
}

.maxH {
  max-height:45vh;
  overflow: scroll;
}

.mh-25 {
  min-height: 25vh;
}

.mh_display {
  min-height: 73vh;
}

/*bootstrap*/
.offcanvas {
  background: $azul;
}

.offcanvas {
  height: 100vh;

}